

.nav{
    color:red;
    height: 80px;
    width: 1200px;
    background: black;
    align-items: center;
    
  
}



a{
    font-size: 26px;
    padding-left: 20px;
  
    
}

.navder{
     padding-left: 760px;
}

.h1-bienvenida{
        margin-top: 80px;
        margin-bottom: 80px;
        color:rgb(177, 10, 10);
}

.texto-tempBsAs{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    padding-top: 60px;
    
}



.temperatura{
    font-size: 40px;
    margin-top: 80px;
    text-align: center;
    padding-top: 26px;
    border-radius: 20px;
    background: rgb(17, 19, 51);
    height: 100px;
    background-image: url(
        "tiempo.png"
    
    );
        
    background-size: 80px;
    background-repeat: no-repeat;
    background-position-x: 100px;
    background-position-y: 10px;

    animation: tiempoAnimacion 2s;
   

}

/*Agregando animacion a card Clima*/

@keyframes tiempoAnimacion{
    from {
        /*background: rgb(46, 46, 153);*/
        margin-right: 100%;
      
        
      }
    
      to {
        margin-right: 0%;
          
      }
 
 }





.contenedor-temperatura{
      /*  background: rgb(136, 56, 56);*/
        background-image: url(
            "Despejado.jpg"
            
        );
        height: 400px;
        width: 540px;
        margin-top: 60px;
        border-radius: 40px ;
        border-top: 10px rgb(25, 23, 85) solid;
        border-bottom: 10px rgb(25, 23, 85) solid;
        animation: contenedor 2s;
}

@keyframes cont {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 0%;
    }
}

.textoPokemon{
     margin-top: auto;
    text-align: center;
    color:red;
   font-size: 60px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imagen{
    width: 120px;
    display: grid;
    margin:auto;
    animation: animacionPokemon 2s;
    border-radius: 50px;
}


@keyframes animacionPokemon{
    20%{
       
        background-color: red;
        border: 2px white solid;
    }

    
  
}

.habilidades{
    text-align: center;
    background: red;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    animation: habilid 2s;
  
}

@keyframes habilid{

    from{
       background:#410505;
       margin-right: 50%;
    }
    to{
        margin-right: 25%;
    }
}

.textoHabilidades{
    text-align: center;
    font-size: 26px;
}

.contenedorPokemon{
    border: 2px white solid;
    width: 400px;
    margin-top: 40px;
    height: 400px;
    margin-left: 80px;
    
}

.btnNumero{
    width: 100px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 8px;
    font-weight: 500;
}
.btnNumero:active { background: rgb(214, 11, 11); }

.btnRandom1{ font-weight: 500;}
.btnRandom1:active { background:  rgb(214, 11, 11); }

.btnBuscar {
    color:rgb(48, 223, 48);
    font-size: 20px;
    margin-top: 166px;
    margin-left: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 60px;
    height: 100px;
    width: 100px;
    border: 4px black solid;
    float:right;
    background-image: url("pokebola.png");
    background-repeat: no-repeat;
    background-size: 114px;
    background-position-x: -10px;
    background-position-y: -10px;
    animation: btnRandomBuscar 1s;
    outline: none;
 }

 @keyframes btnBuscarAnimacion{
  
}



.btnRandom{
   
    margin-top: 166px;
    margin-left: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 60px;
    height: 100px;
    width: 100px;
   border: 4px black solid;
    float:right;
   /* background: rgba(155, 126, 126, 0.726);*/
    background-image: url("pokebola.png");
    background-repeat: no-repeat;
    background-size: 114px;
    background-position-x: -10px;
    background-position-y: -10px;
    color:rgb(48, 223, 48);
    animation: btnRandomAnimacion 1s;
    outline: none;
    
    
 }


 @keyframes btnRandomAnimacion{
    

     from
     {
         
        margin-right: 11%;
         transform: rotate(360deg);
     }
 }

 
 @keyframes btnRandomBuscar{
    from
    {
        margin-top: 50%;
        transform: rotate(360deg);
       
    }
    to{
        margin-top: 166px;
    }
}


 .inputPokemon{
   
    margin-top: 200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    float:right;
    margin-left: 18px;
 }




.btnRandom:active{
    border: 2px rgb(173, 17, 17) solid;
}


.btnBuscar:active{
    border: 2px rgb(173, 17, 17) solid;

    
  }

.columna{
    column-count:2;
}

.tituloRandom{
    float:right;
    margin-top: 196px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:red;
    font-size: 24px;
   
}

